<div class="well">
    <h1>Framablog</h1>

    <p>Le Framablog est propulsé par <a href="http://fr.dotclear.org/">Dotclear</a>, logiciel libre sous licence
    <a href="http://www.gnu.org/copyleft/gpl.html">GNU General Public License</a>, et avec le thème
    <a href="http://themes.dotaddict.org/galerie-dc2/details/Noviny">Noviny</a>.</p>

    <p>Sauf mention contraire, comme certaines traductions et documents multimédias, sa licence est la <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.fr">Creative Commons By-Sa</a>.</p>
</div>
